<a href="https://colab.research.google.com/github/Chandini-T-S/ShapeAI_Python_Machine_Learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

READING DATA USING PANDAS

We use pandas read_csv function to read the csv file in python and pandas DataFrame method to convert file into the data frame.

In [ ]:
df = pd.DataFrame(pd.read_csv('/content/train.csv'))
df.head()

In [ ]:
df.shape

HANDELLING NULL VALUES

In [ ]:
df.insull().SUM()

Separting out the columns which have more than 35% of the values missing in the dataset

In [ ]:
 #df.insull().sum() returns a pandas series with columns name as the label index
 #and total count of null values in the column as it's value
 #And we are storing only those columns which have more than 35% of the data missing.

  x = df.insull().sum()

  drop_col = x[x>(35/100*df.shape[0])]
  drop_col

In [ ]:
drop_col.index

In [ ]:
df.drop(drop_col.index,axis=1, inplace=True)
df.insull().sum()

In [ ]:
df.fillna(df.mean(),inplace = True)
df.insull().sum()

In [ ]:
df['Embarked'].describe()

In [ ]:
df['Embarked'].fillna('S',inplace=True)

In [ ]:
df.insull().sum()           ##NOW ALL THE VALE=UES HAVE BEEN FILLED

In [ ]:
df.corr()

sibsp:Number of Sibligs/Spouses Aboard
parch:Number of Parents/Children Aboard

In [ ]:
df['FamilySize'] = df['SibSp']+df['Parch']
df.drop(['SibSp','Parch'],axis=1,inplace=True)
df.corr()

In [ ]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

In [ ]:
df[['Alone','Fare']].corr()

In [ ]:
df['Sex'] = [0 if df['Sex'][i]=='male'else 1 for i in df.index] #1 for female,0 for male
df.groupby(['Sex'])['Survived'].mean()

In [ ]:
df.groupby(['Alone'])['Survived'].mean()